.top-menu {
  background-color: black;

  .product-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 5px;
    color: white;

    li {
      border: rgba(255, 255, 255, 0.2) solid 1px;
      margin: 5px;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        border-color: white;
      }
    }
  }
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
}

.item-preview {
  width: calc(25% - 20px);;
  margin: 25px 10px 20px 10px;
  .image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
  }
  img {
    width: initial;
    height: 100%;
  }
  .color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 2px;
  }
}
.color-panel {
  display: flex;
  flex-wrap: wrap;
}

